@model AssistanceFormModel
@{
    ViewData["Title"] = "Create a service";
}
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">Create a custom bike</h2>
        <form method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" placeholder="Brand">
                <span asp-validation-for="Name" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" class="form-control" rows="5" placeholder="Description"></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" class="form-control" placeholder="0.00">
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssistanceCategoryId">Select category</label>
                <select asp-for="AssistanceCategoryId" class="form-control">
                    <option value="">All</option>
                    @foreach (var category in Model.Categories)
                    {
                        <option value="@category.AssistanceCategoryId">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="AssistanceCategoryId" class="small text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block text-uppercase">Save</button>
        </form>
    </div>
</div>