@model OrderDetailsViewModel
@{
    ViewData["Title"] = "Services by the Mechanic";
}
<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <h2 class="heading-margin text-center">Services done by the Mechanic</h2>
        <form method="post">
            <div class="form-group">
                <label asp-for="FullName"></label>
                <input asp-for="FullName" class="form-control" readonly>
                <span asp-validation-for="FullName" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" readonly>
                <span asp-validation-for="Email" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <textarea asp-for="PhoneNumber" class="form-control" readonly></textarea>
                <span asp-validation-for="PhoneNumber" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TimeSlot"></label>
                <input asp-for="TimeSlot" class="form-control" readonly>
                <span asp-validation-for="TimeSlot" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Details">Customers details</label>
                <textarea asp-for="Details" class="form-control" rows="5" readonly></textarea>
                <span asp-validation-for="Details" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AssistanceId">Applied service</label>
                <select asp-for="AssistanceId" class="form-control">
                    <option value="">All</option>
                    @foreach (var service in Model.Assistances)
                    {
                        <option value="@service.AssistanceId">@service.Name => @service.Price</option>
                    }
                </select>
                <span asp-validation-for="AssistanceId" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MechanicDetails">Mechanics applied services explanation</label>
                <textarea asp-for="MechanicDetails" class="form-control" rows="5"></textarea>
                <span asp-validation-for="MechanicDetails" class="small text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PickUpTime">Ready to pick up</label>
                <input asp-for="PickUpTime" type="datetime-local" class="form-control" required placeholder="@DateTime.UtcNow">
                <span asp-validation-for="PickUpTime" class="small text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary btn-block text-uppercase">Save</button>
        </form>
    </div>
</div>
